{% extends 'polls/base.html' %}

{% block content %}
    <div>
        <a href="{% url 'polls:new_poll' %}" class="top-menu" style="float:right">New Question</a>
        <a href="{% url 'polls:generate_pdf' %}" class="top-menu">Generate PDF</a>
    </div>
    <br />
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <div>
                <div class="col-md-8">
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                </div>
                <div class="col-md-4">
                    <div class="col-md-2">
                        <a href="{% url 'polls:edit_poll' question.id %}" style="float:right">Edit</a>
                    </div>
                    <div class="col-md-2">
                        <a class="confirm-delete" href="{% url 'polls:delete_poll' question.id %}" style="float:right">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}